.d1 
{ 
  border:2px dotted white;
  width:180px;
  color:white; 
}
 input
{
  width:700px;
  height:30px;
  border: 2px solid black;
}
input:hover
{
  border: 2px solid white;
}
.d2
{
 border:2px solid white;
 background-color:white;
 height:40px;
 margin-left:-10px;
 margin-right:-10px;
}
.d2 ul a
{
   text-decoration:none;
}
.d2 li
{
  color:black;
  display:inline;
  list-sytle-type:none;
  margin-left:50px;
}
.d2 li fa
{
 margin-right:8px;
}